

:root {
    /* Global Color */
    --ColorBackground: #202428;
    --ColorWhiteSection: #EEF0F4;

    /* Detail Color */
    --ColorSectionTitle: -webkit-linear-gradient(#dba843, #331734);
    --ColorBorderStyle : 1px solid rgb(248, 181, 25);
    --ColorBorderNavbar : 2px solid rgba(247, 156, 45, 0.7);
    --ColorCircularButton : radial-gradient(circle, rgba(209, 186, 94, 0.5) 45%, rgba(130, 92, 32, 0.8) 80%, rgb(0, 0, 0) 100%);
    --ColorH4: -webkit-linear-gradient(#f2ad2d, #7c4013);
    --ColorP: #3a3f44;

    /* Font */
    --FontGlobal: 1rem;
    --TextColorDark : #3a3f44;
    --TextColorLight : #d1d9e8;
}


.navbar{
    display: flex;
    position: fixed;
    justify-content: end;
    background: rgba(255, 255, 255, 0.2);
    height: 58px;
    z-index: 99999;
    border-bottom: var(--ColorBorderNavbar);
    top: 0;

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.navbar:hover {
    box-shadow: 0px 29px 30px -5px rgba(247, 170, 45, 0.7);
    border-bottom: 2px solid rgb(255, 218, 117);
    transition: all .2s ease-in-out;
}

ul {
    list-style: none;
}

#Logo {
    color: var(--TextColorDark);
}


/* Menu Burger */
.burger {
    display: block;
    position: relative;
    padding: 10px 80px 0px 0px;
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.burger:focus {
    background: transparent;
}

.menuIcon {
    width: 30px;
    height: 30px;
    background-image: url(../../public/Menu_Burger.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(50%);
    
}

.showNav .menuIcon{
    background-image: url(../../public/Menu_Close.png);
    filter: opacity(59%);
    
}





/* Slide Menu */
.naveBarLinks {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;

    z-index: 9999;
    width: 100vw;
    height: calc(100vh - 58px);
    padding-top: 15px;
    top: 58px;
    right: -5000px;

    background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
    

    transition: all .5s ease-in-out;
    
}

.showNav .naveBarLinks{
    right: 0px;
    width: 100vw;
    
    
}

ul {
    list-style: none;
}

.navBarLink {
    padding: 0 10px;
}

.navBarLink > a {
    text-decoration: none;
    color: var(--TextColorDark);
    font-size: 1.2rem;
    font-weight: 600;
}

.navBarLink > a:hover {
    background: transparent;
    letter-spacing: 5px;
    color: rgba(247, 186, 45, 0.7);
    transition: all .5s ease-in-out;
}

